@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.text{
  text-transform: uppercase;
}

.nav-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;

}
.ope-btn{
  position: fixed;
  top: 10px;
  left: 10px;

}
.nav{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
}

.nav.visible{
  transform: translateX(0);
}


.logo {
  width: 150px;
}

.nav-black{
  background-color: rgb(34,21,31);
  width: 60%;
  max-width: 480px;
  min-width: 320px;
  transition-delay: .4s;
}
.nav-black.visible{
  transition-delay: .2s;

}

.nav-red{
  background-color: rgb(229, 9, 20);
  width: 95%;
  transition-delay: .2s;
}

.nav-red.visible{
  transition-delay: .4s;

}


.nav-white{
  background-color: #fff;
  width: 95%;
  padding: 40px;
  position: relative;
  transition-delay: 0;
  
}
.nav-white.visible{
  transition-delay: .6s;

}

.close-btn{
  position: absolute;
  top: 40px;
  right: 30px;
  opacity: 0.3;
}
.list{
  list-style-type: none;
  padding: 0;

}
.list li{
  margin: 20px 0;

}
.list li a{
  color: rgb(34,21,31);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;

}

.list ul {
  list-style-type: none;
  padding-left: 20px;
}